<% if users.present? %>
  <%= render 'users/users_block', users: users %>
<% else %>
  <div class="alert alert-info">
    Пока в системе нет ни одного вашего друга.
  </div>

  <%= render 'shared/invite' %>
<% end %>