<div class='users_block'>
  <%= paginate users, remote: true, left: 1, right: 1, window: 1, outer_window: 0 %>
  <div class='clear'></div>

  <% users.each do |user| %>
    <%= render 'users/user', user: user %>
  <% end %>
</div>