<%= paginate users, remote: true, left: 1, right: 1, window: 1, outer_window: 0 %>
<div class='clear_with_height_10'></div>

<% users.each do |user| %>
  <%= render 'users/user', user: user %>
<% end %>