<header>
  <div class="header_block">
    <%= image_tag 'logo.png', class: 'logo' %>
    <%= image_tag 'clock.png', class: 'clock_logo' %>
    <h4>Просыпайся с удовольствием, буди друзей!</h4>
  </div>
</header>