<header>
  <%= render 'shared/profile_dropdown' %>
  <div class="header_block">
    <%= image_tag 'logo.png', class: 'logo' %>
    <%= image_tag 'clock.png', class: 'clock_logo' %>
    <span class='pink'>Просыпайся с удовольствием, буди друзей!</span>
  </div>
</header>