<div class='invites_container bottom_invites'>
  <%= link_to '#', class: 'tell_to_friends pull-right' do %>
    <%= image_tag 'message.png' %>
    <span class='btn btn-warning'>
      Рассказать друзьям
    </span>
  <% end %>

  <%= link_to '#', class: 'invite_friends pull-right' do %>
    <%= image_tag 'invite1.png' %>
    <span class='btn btn-warning'>
      Пригласить друзей
    </span>
  <% end %>
</div>