<div class="profile_bar btn-group pull-right">
  <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
    <%= "Привет, #{current_user.frontend_name}" %>
    <span class="caret"></span>
  </button>

  <ul class="dropdown-menu">
    <li>
      <%= link_to 'Настройки', '#' %>
    </li>
    <li class="divider"></li>
    <li>
      <%= link_to 'Рассказать друзьям', '#' %>
    </li>
    <li>
      <%= link_to 'Пригласить друзей', '#' %>
    </li>        
  </ul>
</div>