header,
.container,
footer {
  width: 800px;
  margin: 0 auto;
}

body {
  background: url("/assets/1.jpg") repeat scroll 0 0 transparent;
  color: #333333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.container {
  margin-top: 10px;
}

header {
  .header_block {
    padding-left: 120px; 
    margin-bottom: 0px;

    h4 {
      color: inherit;
      font-family: inherit;
      font-weight: bold;
      line-height: 20px;
      margin: 10px 0;
      text-rendering: optimizelegibility;
      margin-top: -35px; 
      margin-left: 120px;
    }

    img.logo {
      z-index: 1; 
      position: relative;
    }

    img.clock_logo {
      width: 200px; 
      z-index: 100; 
      position: relative;
      width: 80px; 
      margin-left: -442px; 
      top: 6px;
    }

    a.btn {
      margin-right: 24px; 
      margin-bottom: 0px; 
      margin-top: 0px;
    }
  }
}

.media-block {
  background: url("/assets/furley_bg.png") repeat scroll 0 0 transparent;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 1px 1px 3px;
  margin-bottom: 70px;
  padding: 20px 25px;
  width: 770px;
  margin-top: 10px;
  overflow: hidden;
  height: 560px;
}

.main_menu {
  overflow: hidden;
  height: 100px;

  .btn {
    font-weight: bold;
    font-size: 16px;
  }

  .friends_alarms {
    width: 70px; 
    margin-right: 15px;
    text-decoration: none;
    display: block;
    overflow: hidden;
    width: 270px;
    padding: 5px;
    padding-left: 15px;
    height: 85px;

    img {
      margin-right: 10px;
    }
  }

  img.main_link_my_clock {
    width: 75px;
  }

  .my_alarms {
    margin-right: 20px;
    text-decoration: none;
    display: block;
    overflow: hidden;
    width: 230px;
    padding: 5px;
    height: 85px;
  }

  .settings_of_alarms {
    text-decoration: none;
    display: block;
    overflow: hidden;
    width: 230px;
    padding: 5px;
    padding-top: 12px; 
    padding-bottom: 8px; 
    padding-left: 15px;
    height: 85px;

    .main_link_settings {
      width: 60px;
    }
  }

  .my_alarms:hover,
  .my_alarms.active,
  .friends_alarms:hover,
  .friends_alarms.active,
  .settings_of_alarms:hover,
  .settings_of_alarms.active {
    background: url("/assets/furley_bg.png") repeat scroll 0 0 transparent;
    border-radius: 8px 8px 8px 8px;
    box-shadow: #333333 1px 1px 3px;
  }
}

.media {
  width: 320px;
  margin: 0px 10px;

  .set_clock {
    img {
      width: 40px; 
      margin-top: -2px;
    }
  }

  .user_name {
    color: #333333;     
    font-size: 18px; 
  }
}

.profile_bar {
  right: 20px;
  top: -45px;
}

/* Places Pagination styles */

.pagination {
  height: 36px;
  margin: 0;
  color: #333333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align:right; 
  float: right;
  margin-bottom: 30px;
  width: 375px;
}

.pagination ul {
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: inline-block;
  margin-bottom: 0;
  margin-left: 0;
  list-style: disc outside none;
  padding-left: 0px;
}

.pagination li {
  display: inline;
  line-height: 18px;
}

.pagination li:first-child a {
  border-left-width: 1px;
  border-radius: 3px 0 0 3px;
}

.pagination .disabled span, .pagination .disabled a, .pagination .disabled a:hover {
  background-color: transparent;
  color: #999999;
  cursor: default;
}

.pagination .active a {
  color: #999999;
  cursor: default;
}

.pagination a:hover, .pagination .active a {
  background-color: #F5F5F5;
}

.pagination a {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #DDDDDD;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  float: left;
  line-height: 34px;
  padding: 0 14px;
  text-decoration: none;
}

a.invite_friends, a.tell_to_friends {
  margin-left: 20px;
  text-decoration: none;

  img {
    width: 60px;
  }  
}

.invites_container {
  overflow: hidden; 
  margin-bottom: 30px;
}

a.invite_friend:hover {
  text-decoration: none;
}

.clear {
  clear: both;
}

.friends_container {
  .alert { 
    font-weight: bold; 
    font-size: 16px
  }
}

span.pink {
  display: block; 
  position: absolute; 
  top: 145px;
  font-size: 18px; 
  font-weight: bold; 
  margin-left: 90px;
}

.alarms_list_badge {
  margin-top: -90px; 
  margin-left: 0px;
}

.melody_form {
  overflow: hidden; 
  margin-top: 0px; 
  padding-top: 5px; margin-left: 0px;

  #music_set_title {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;     
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;     
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;    
    border-radius: 4px 4px 4px 4px;     
    color: #555555;     
    display: inline-block;     
    font-size: 18px;     
    height: 35px;     
    line-height: 20px;     
    margin-bottom: 10px;     
    padding: 4px 6px;
  }

  .btn {
    margin-top: -5px;
    margin-left: 10px;
  }
}

.music_icon {
  width: 40px;
  margin-right: 10px;
}

.i_like_it {
  color: #829BAF;
  cursor: pointer;
  font-family: tahoma,arial,verdana,sans-serif,Lucida Sans;
  white-space: nowrap;
  direction: ltr;
  text-align: left;  
}.my_like {
  color: #2F5879;
}

.i_like_it:hover {
  text-decoration: none;
}

.likes-icon {
  background: url("like.gif") no-repeat scroll 1px 0 transparent;
  height: 10px;
  margin: 2px 2px 0;
  opacity: 0.4;
  padding-right: 1px;
  width: 11px;
  display: block; 
  width: 17px; 
  margin-top: 5px;
}.my_like {
  filter: none;
  opacity: 1;
}

.likes-count {
  color: #829BAF;
}.my_like {
  color: #2F5879;
}

#music-list {
  color: #2F5879;
  a{
    color: #2B587A;
    cursor: pointer;
  }
  a:hover {
    text-decoration: none;
    color: #2F5879;
  }
}

div.nameTrack.pull-left {
  color: #2B587A;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden; 
  padding: 0px 10px; 
  width: 540px;

  b, span {
    color: #2B587A;
    display: inline-block;
    max-width: 180px;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
  }
}

div.track_actions {
  margin-top: 3px;
  a:hover {
    text-decoration: none;
  }
}

#ajaxsPlayer{
width:720px;
margin-top: 15px;
overflow: hidden;
}
.button{
float:left;
}
.play{
width:16px;
height:16px;
background-image:url(/assets/playpause.gif);
display:block;
cursor:pointer;
margin-top: 4px; 
margin-left: 4px;
}
.pause{
width:16px;
height:16px;
background-image:url(/assets/playpause.gif);
background-position: -64px 16px;
display:block;
cursor:pointer;
display:none;
margin-top: 4px; 
margin-left: 4px;
}

.nameTrack{
font: 15px/170% Helvetica, 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: #666666;
padding:5px 45px;
}
.clear{
  clear:both; 
}

#soundmanager-debug {
  display: none;
}

.search_users {
  overflow: hidden; 
  width: 330px;

  img.search_icon {
    width: 45px; 
    margin-top: -5px; 
    margin-right: 5px;
  }

  #by_name {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;     
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;     
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;    
    border-radius: 4px 4px 4px 4px;     
    color: #555555;     
    display: inline-block;     
    font-size: 18px;     
    height: 35px;     
    line-height: 20px;     
    margin-bottom: 10px;     
    padding: 4px 6px;
    width: 190px;
  }

  .btn {
    margin-top: -5px; 
    margin-left: 7px;
  }
}

.invites_container.top_invites {
  margin-top: 20px;
  margin-right: -90px;

  .tell_to_friends {
    margin-left: 10px;

    img {

    }
  }

  .invite_friends {
    img {
      
    }
  }  
}

.clear_with_height_10 {
  height: 10px;
  clear: both;
}

.users_block {
  margin-top: 15px;
}
