header,
.container,
footer {
  width: 800px;
  margin: 0 auto;
}

body {
  background: url("/assets/1.jpg") repeat scroll 0 0 transparent;
  color: #333333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.container {
  margin-top: 20px;
}

header {
  .header_block {
    padding-left: 120px; 
    margin-top: 70px;
    margin-bottom: 0px;

    h4 {
      color: inherit;
      font-family: inherit;
      font-weight: bold;
      line-height: 20px;
      margin: 10px 0;
      text-rendering: optimizelegibility;
      margin-top: -35px; 
      margin-left: 120px;
    }

    img.logo {
      z-index: 1; 
      position: relative;
    }

    img.clock_logo {
      width: 200px; 
      z-index: 100; 
      position: relative;
      width: 80px; 
      margin-left: -442px; 
      top: 6px;
    }

    a.btn {
      margin-right: 24px; 
      margin-bottom: 0px; 
      margin-top: 0px;
    }
  }
}

.media-block {
  background: url("/assets/furley_bg.png") repeat scroll 0 0 transparent;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 1px 1px 3px;
  margin-bottom: 70px;
  padding: 20px 25px;
  width: 770px;
  margin-top: 10px;
  overflow: hidden;
  height: 470px;
}

.main_menu {
  margin-top: 20px;
  overflow: hidden;
  height: 100px;

  .btn {
    font-weight: bold;
    font-size: 16px;
  }

  .friends_alarms {
    width: 70px; 
    margin-right: 15px;
    text-decoration: none;
    display: block;
    overflow: hidden;
    width: 270px;
    padding: 5px;
    padding-left: 15px;
    height: 85px;

    img {
      margin-right: 10px;
    }
  }

  img.main_link_my_clock {
    width: 75px;
  }

  .my_alarms {
    margin-right: 20px;
    text-decoration: none;
    display: block;
    overflow: hidden;
    width: 230px;
    padding: 5px;
    height: 85px;
  }

  .settings_of_alarms {
    text-decoration: none;
    display: block;
    overflow: hidden;
    width: 230px;
    padding: 5px;
    padding-top: 12px; 
    padding-bottom: 8px; 
    padding-left: 15px;
    height: 85px;

    .main_link_settings {
      width: 60px;
    }
  }

  .my_alarms:hover,
  .my_alarms.active,
  .friends_alarms:hover,
  .friends_alarms.active,
  .settings_of_alarms:hover,
  .settings_of_alarms.active {
    background: url("/assets/furley_bg.png") repeat scroll 0 0 transparent;
    border-radius: 8px 8px 8px 8px;
    box-shadow: #333333 1px 1px 3px;
  }
}

.media {
  width: 320px;
  margin: 0px 10px;

  .set_clock {
    img {
      width: 45px;
    }
  }

  .user_name {
    color: #333333;     
    font-size: 18px; 
  }
}

.profile_bar {
  right: 20px;
  top: -45px;
}

/* Places Pagination styles */

.pagination {
  height: 36px;
  margin: 0;
  color: #333333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align:right; 
  float: right;
  margin-bottom: 30px;
}

.pagination ul {
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: inline-block;
  margin-bottom: 0;
  margin-left: 0;
  list-style: disc outside none;
}

.pagination li {
  display: inline;
  line-height: 18px;
}

.pagination li:first-child a {
  border-left-width: 1px;
  border-radius: 3px 0 0 3px;
}

.pagination .disabled span, .pagination .disabled a, .pagination .disabled a:hover {
  background-color: transparent;
  color: #999999;
  cursor: default;
}

.pagination .active a {
  color: #999999;
  cursor: default;
}

.pagination a:hover, .pagination .active a {
  background-color: #F5F5F5;
}

.pagination a {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #DDDDDD;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  float: left;
  line-height: 34px;
  padding: 0 14px;
  text-decoration: none;
}

a.invite_friends, a.tell_to_friends {
  margin-left: 20px;

  img {
    width: 60px;
  }  
}

.invites_container {
  overflow: hidden; 
  margin-bottom: 30px;
}

a.invite_friend:hover {
  text-decoration: none;
}

.clear {
  clear: both;
}

.friends_container {
  .alert { 
    font-weight: bold; 
    font-size: 16px
  }
}

span.pink {
  display: block; 
  position: absolute; 
  top: 220px; 
  font-size: 18px; 
  font-weight: bold; 
  margin-left: 90px;
}
